@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body{
	padding: 0;
	margin: 0;
	background-color: #212121;
	color: white;
	font-family: "Montserrat", sans-serif;
}
header{
	height: 700px;
}
.bg{
	position: absolute;
	width: 300px;
	height: 700px;
	right: 0;
	top: 0px;
	z-index: 0;
	background: #00ffbb;
	border-radius: 40px 0px 0px 40px;
}
nav{
	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 5vh 5%;
	position:relative;
	z-index: 1;
}
.nav_links a,
.cta {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links li {
  padding: 0px 20px;
}

.nav_links li a {
  transition: color 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #00ffbb;
}

.cta {
	padding: 9px 25px;
	background-color: #00ffbb;
	color: #212121;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
}
  
.cta:hover {
	background-color: #E8F5FF;
}

.main{
	height: 700px;
	margin: 0;
	display: flex;
	color: white;
	position:relative;
	z-index: 1;
}

.main mark{
	color: #00ffbb;
	background: none;
}
.main .left{
	padding: 120px 0 0 180px;
	width: 40%;
}
.main .right img{
	position: absolute;
	top: 15vh;
	right: 140px;
}
.main div h1{
	font-size: 60px;
}
.start{
	cursor: pointer;
	width: 144px;
	height: 40px;
	color: #212121;
	background: #00ffbb;
	border-radius: 20px;
	border: none;
	transition: background-color 0.3s ease 0s;
}
  
.start:hover {
	background-color: #E8F5FF;
}

.main2{
	height: 600px;
	margin: 0;
	display: flex;
	color: #212121;
	position:relative;
	z-index: 1;
	background-color: #00ffbb;
}
.main2 mark{
	color: #ffffff;
	background: none;
}
.main2 .left{
	padding: 60px 40px 0 120px ;
	width: 40%;
}
.main2 .right{
	padding: 60px 160px;
}
.main2 div h1{
	font-size: 44px;
}

.main3{
	height: 700px;
	margin: 0;
	color: white;
}
.main3 .head{
	text-align: center;
	padding: 60px;
}
.main3 mark{
	color: #00ffbb;
	background: none;
}
.main3 h1{
	font-size: 44px;
}
.main3 p{
	font-size: 13px;
}
.main3 .split{
	display: flex;
	text-align: center;
	justify-content: space-around;
	margin: 0 30px;
}
.main3 .split div{
	padding: 10px;
	width: 278px;
	height: 276px;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px #00ffbb;
	border-radius: 8px;
	transition: padding 0.3s ease 0s;
}
.main3 .split .split2{
	z-index: 3;
}
.main3 .split div:hover {
	padding: 30px;
}
.main3 .split div img{
	margin: 30px;
}
/* Mobile Nav */

.menu {
	display: none;
  }
  
  .overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: #24252a;
	overflow-x: hidden;
	transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
	width: 100%;
  }
  
  .overlay__content {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .overlay a {
	padding: 15px;
	font-size: 36px;
	color: white;
	text-decoration: none;
	display: block;
	transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
	color: #00ffbb;
  }
  .overlay .close {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	color: #edf0f1;
  }
  @media screen and (max-height: 450px) {
	.overlay a {
	font-size: 20px;
	color: #ffffff;
 	text-decoration: none;
	}
	.overlay .close {
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
	}
  }
  
  @media only screen and (max-width: 800px) {
	.nav_links,
	.cta {
	  display: none;
	}
	.menu {
	  display: initial;
	}
	header,
	.main3{
		height: 600px;
	}
	.main2{
		height: 500px;
	}

	.main img,
	.main2 img {
	  display: none;
	}
	.bg{
		display: none;
	}
	.main2 .left{
		display: none;
	}
	.main .left,
	.main2 .right{
		width: 100%;
		padding: 30px;
		text-align: center;
	}
  }
@media (max-width: 1050px) {
	.main img,
	.main2 .left{
	  display: none;
	}
}